langchain==0.3.27
langchain-community==0.3.29
langchain-core==0.3.83
langchain-groq==0.3.8
langchain-huggingface==0.3.1
langgraph
openai
faiss-cpu
pydantic
python-dotenv
beautifulsoup4
requests
streamlit
wikipedia
pypdf
sentence-transformers
duckduckgo-search
torchvision