langchain
langchain-community
langgraph
openai
faiss-cpu
pydantic
python-dotenv
beautifulsoup4
requests
streamlit
wikipedia
langchain_groq
pypdf
sentence-transformers
langchain-huggingface
dotenv
vectorstore
duckduckgo-search